<a href="https://colab.research.google.com/github/dhruvi20/GitHub-Tutorial/blob/readme-change/180630107083__Practice_Session__Dhruvi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction

In [ ]:
#program to display hello
enrollment=180630107083
print(enrollment)
print("Hello, Dhruvi Shah")

180630107083
Hello, Dhruvi Shah

In [ ]:
#Program to add two numbers

print("Dhruvi Shah 180630107083")
first= input("Enter first number: ")
print(first)
second= input("Enter second number: ")
print(second)
sum= int(first) + int(second)
print("The sum of two numbers is " + str(sum))

Dhruvi Shah 180630107083
Enter first number: 52
52
Enter second number: 34
34
The sum of two numbers is 86

In [ ]:
#Program to find area of a triangle
print("Dhruvi Shah 180630107083")
base= input("What is the base of triangle? ")
print(base)
altitude= input("What is the altitude of triangle? ")
print(altitude)
area=0.5*int(base)*int(altitude)
print("The area of triangle is " + str(area))

Dhruvi Shah 180630107083
What is the base of triangle? 4
4
What is the altitude of triangle? 7
7
The area of triangle is 14.0

In [ ]:
#Program to swap two numbers
print("Dhruvi Shah 180630107083")
first= input("Enter first number: ")
second= input("Enter secnd number: ")
print("Before swapping first=" + str(first) + " and second=" + str(second))
temp=first
first=second
second=temp
print("After swapping first=" + str(first) + " and second=" + str(second))

Dhruvi Shah 180630107083
Enter first number: 12
Enter secnd number: 10
Before swapping first=12 and second=10
After swapping first=10 and second=12

In [ ]:
#Program to convert kilometers into meters
print("Dhruvi Shah 180630107083")
kilometers= input("Enter the distance in kilometers: ")
print("The distance is " + str(kilometers) + "km")
meters=int(kilometers)*1000
print("The distance is " + str(meters) + "m")

Dhruvi Shah 180630107083
Enter the distance in kilometers: 20
The distance is 20km
The distance is 20000m

In [ ]:
#Program to convert celsius into fahrenheit
print("Dhruvi Shah 180630107083")
celsius= input("Enter the temperature in celsius: ")
print("The temperature is " + str(celsius) + "degree celsius")
fahrenheit=(float(celsius)*1.8)+32
print("The temperature in fahrenheit is " + str(fahrenheit))

Dhruvi Shah 180630107083
Enter the temperature in celsius: 34
The temperature is 34degree celsius
The temperature in fahrenheit is 93.2

In [ ]:
#Program to generate a random number
print("Dhruvi Shah 180630107083")
import random
print(random.randint(0,7))

Dhruvi Shah 180630107083
1

In [8]:
#Program to solve quadratic equation
print("Dhruvi Shah 180630107083")
a=float(input("Enter a: "))
b=float(input("Enter b: "))
c=float(input("Enter c: "))
d=(b**2)-(4*a*c)
sol1=(-b-d)/(2*a)
sol2=(-b+d)/(2*a)
print(sol1)
print(sol2)

Dhruvi Shah 180630107083
Enter a: 8
Enter b: 5
Enter c: 1
0.125
-0.75